name: Merge

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: '1.15.4'
          otp-version: '26.3.4'

      - name: Run formatter check
        run: mix format --check-formatted

      - name: Run Credo
        run: mix credo --strict

      - name: Run lint
        run: mix lint

      - name: Run compile
        run: mix compile --warnings-as-errors
  
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: token_manager_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - uses: actions/checkout@v3
      - name: Set up Elixir
        uses: erlef/setup-elixir@v1
        with:
          elixir-version: '1.15.4'
          otp-version: '26.3.4'
          cache-deps: true
          cache-build: true

      - name: Install dependencies
        run: mix deps.get

      - name: Set up database
        env:
          MIX_ENV: test
        run: |
          mix ecto.create
          mix ecto.migrate

      - name: Run tests
        env:
          MIX_ENV: test
        run: mix test --trace

